<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.caoyouqiang.rxplan">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OpAssistActivity" />
        <activity android:name=".BaseActivity"></activity>
        <activity android:name=".ObCreaterActivity"></activity>
        <activity android:name=".OpChangeActivity"></activity>
        <activity android:name=".OpConditionActivity"></activity>
        <activity android:name=".OpConnectionActivity"></activity>
        <activity android:name=".OpFilterActivity"></activity>
        <activity android:name=".OpGroupActivity"></activity>
        <activity android:name=".OpMathActivity"></activity>
        <activity android:name=".OpTransferActivity"></activity>
        <activity android:name=".ErrorHandleActivity"></activity>

    </application>


</manifest>